@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;

.pwd::after{
  content: '';
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 150%;
  background-color: hsl(248,15%,11%);
  height: 15px;
  width: 120%;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  background: hsl(127,100%,82%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: hsl(252,11%,91%);
  cursor: pointer;
}
.slider::-moz-range-thumb:hover{
  background: hsl(248,15%,11%);
  border: 1px solid #04AA6D
}
.check{
  accent-color: hsl(127, 100%, 82%);
  background-color: black;
  margin-right: 18px;
  cursor: pointer;
  height: 18px;
  width: 18px
}

@tailwind utilities;
li{
  display: flex;
  justify-content: start;
  align-items: center;
}

li label, h2 , button{
  font-size: 0.9rem;
  font-weight: 600;
}
.rect{
  /* border: 2px solid hsl(252,11%,91%) ; */
  height: 24px;
  width: 10px;
}
.slider::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: hsl(252,11%,91%);
  cursor: pointer;
  -webkit-appearance: none; /* Necessary to override default styling */
  appearance: none; /* Necessary to override default styling */
}

.slider::-webkit-slider-thumb:hover {
  background: hsl(248,15%,11%);
  border: 1px solid #04AA6D;
}
